<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login timbre</title>
    <link rel="shortcut icon" href="/resources/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/estilo_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <main class="background">
        <div class="overlay">

            <form method="get" action="/iniciar_sesion">
                <div class="cont_logo">
                    <img src="resources/logo.png" alt="">
                </div>
                <div id="cont_main_inputs">
                    <div class="cont_input">
                        <input name="user_name" type="text" placeholder="Nombre de usuario">
                    </div>
                    <div class="cont_input">
                        <input id="input" name="password" type="password" placeholder="Contraseña"> 
                        <i class="fa-solid fa-lock" id="contra"></i>
                    </div>
                    <button>Ingresar</button>

                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="error-message">
                          <%= error %>
                        </div>
                      <% } %>
                </div>
            </form>

        </div>
    </main>
    <script>
        const contra = document.getElementById("contra")
        const input = document.getElementById("input")
        contra.addEventListener("click", () => {
            contra.classList.toggle("fa-lock")
            contra.classList.toggle("fa-eye")
           
            if (contra.classList.contains("fa-eye")) {
                input.type = "text"; 
            } else if (contra.classList.contains("fa-lock")) {
                input.type = "password"; 
            }
        })
    </script>
</body>

</html>