<div id="cont_fixed" class="desactive">
    <i class="fa-solid fa-bars" id="menu"></i>
    <ul id="cont_item" class="desactive">
        <a href="/index">
            <li class="item" id="item_inicio">
                <i class="fa-solid fa-house"></i>
                <span>Inicio</span>

            </li>
        </a>
   
        
        <form action="/cambiar_tema" method="POST" style="display: inline;">
            <button type="submit" class="item" id="item_cambiar_tema">
                <% if (session.user_tema == "oscuro") { %>
                 
                    <i class="fa-solid fa-sun"></i>
                <% } else { %>
                    <i class="fa-solid fa-moon"></i>
                <% } %>
              
                <span>Cambiar tema</span>
            </button>
        </form>
        <form action="/cerrar_sesion" method="POST" style="display: inline;">
            <button type="submit" class="item" id="item_cerrar-sesion">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Cerrar sesión</span>
            </button>
        </form>
    </ul>
</div>
<script>
   
    const menu = document.getElementById("menu")
    const cont_item =document.getElementById("cont_item")
    const cont_fixed =document.getElementById("cont_fixed")
    const menu_lateral =document.getElementById("menu_lateral")
    
    menu.addEventListener("click",()=>{
        cont_item.classList.toggle("desactive")
        cont_fixed.classList.toggle("desactive")
        menu_lateral.classList.toggle("desactive")
    })

</script>